<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- File paths-->
    <add key="filepathInput" value="C:\REPOS\XboxOcr\captchainput.txt" />
    <add key="filepathOutput" value="C:\REPOS\XboxOcr\codesoutput.txt" />
  </appSettings>
</configuration>